.titulo {
  margin-top: 8px;
  margin-left: 21px;
  font-family: "Righteous", cursive;
  font-weight: 400;
  font-size: 44px;
  color: #ffffff;
}

.subtitulo {
  margin-top: 5px;
  margin-bottom: 18px;
  margin-left: 21px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}

.concluir button {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
}

.pedir {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #50d074;
}

.cancelar {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
}

.finalizar > h1{
  margin-top: 21px;
  margin-bottom: 28px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  color: #ffffff;
}

.infoUsuario > h1{
  margin-top: 16px;
  margin-bottom: 8px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  color: #ffffff;
}

.pedido .nome,
.pedido .preco {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
}

.total h1, .infoUsuario p {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
}

.container > p {
  margin-bottom: 17px;
  font-family: "Righteous";
  font-weight: 400;
  font-size: 26px;
  color: #333333;
}

.comida h1 {
  font-family: "Roboto";
  margin-top: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
}

.comida p {
  margin-top: 4px;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #999999;
}

.valor h2 {
  margin-right: 3px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

input{
  text-indent: 12px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  color: black;
}
